In [10]:
pip install mysql-connector

Requirement already satisfied: mysql-connector in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.9)

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [11]:
pip install SQLAlchemy pymysql

Requirement already satisfied: SQLAlchemy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.0.39)
Requirement already satisfied: pymysql in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/cristhianbeltran/Library/Python/3.12/lib/python/site-packages (from SQLAlchemy) (4.12.2)

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from datetime import datetime
from sqlalchemy import create_engine
from db_utils import get_top_teams_by_points

ModuleNotFoundError: No module named 'db_utils'

In [14]:
user = "admin"
password = "mbdsf*2022"
host = "dbmbds.cfngygfor8bi.us-east-1.rds.amazonaws.com"
port = 3306
database = "db_watford"

engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

In [3]:
player_stats = pd.read_sql("SELECT * FROM player_stats", engine)
event_data = pd.read_sql("SELECT * FROM event_data", engine)
player_data = pd.read_sql("SELECT * FROM player_data", engine)

KeyboardInterrupt:

In [15]:
match_data = pd.read_sql("SELECT * FROM match_data", engine)
team_data = pd.read_sql("SELECT * FROM team_data", engine)

In [4]:
player_data = pd.read_sql("SELECT * FROM player_data", engine)

In [6]:
player_data[['subbedInExpandedMinute', 'subbedOutExpandedMinute']]

      subbedInExpandedMinute subbedOutExpandedMinute
0                       None                    None
1                       None                    91,0
2                       None                    None
3                       None                    None
4                       None                    None
...                      ...                     ...
33187                   69,0                    None
33188                   None                    None
33189                   None                    None
33190                   None                    None
33191                   None                    None

[33192 rows x 2 columns]

In [7]:
# Count NaN values
player_data[['isFirstEleven', 'subbedInExpandedMinute', 'subbedOutExpandedMinute']].isna().sum()

isFirstEleven              14932
subbedInExpandedMinute     26218
subbedOutExpandedMinute    26218
dtype: int64

In [8]:
player_data[['isFirstEleven', 'subbedInExpandedMinute', 'subbedOutExpandedMinute']].isna().mean() * 100

isFirstEleven              44.986744
subbedInExpandedMinute     78.988913
subbedOutExpandedMinute    78.988913
dtype: float64

In [4]:
player_stats_backup = player_stats.copy()

In [9]:
top_teams = get_top_teams_by_points(match_data, team_data, start_date, end_date)
st.dataframe(top_teams)  # preview top teams with most points

ModuleNotFoundError: No module named 'db_utils'

In [59]:
player_stats[player_stats['playerName'].str.contains("vata", case=False, na=False)].head()

,playerId,playerName,aerialSuccess,dribbleSuccess,passSuccess,ratings,tackleSuccess,throwInAccuracy,aerialsTotal,aerialsWon,...,tackleUnsuccesful,tacklesTotal,throwInsAccurate,throwInsTotal,totalSaves,touches,matchId,field,teamId,teamName
878,454349,Rocco Vata,None,None,"100,0","6,075","100,0",None,"0,0","0,0",...,"0,0","1,0","0,0","0,0","0,0","8,0",1826881,away,27,Watford
1614,454349,Rocco Vata,None,None,"80,0","5,978888888888889",None,None,"1,0","0,0",...,"0,0","0,0","0,0","0,0","0,0","10,0",1826905,home,27,Watford
1798,454349,Rocco Vata,None,"50,0","70,0","6,048095238095239","66,66666666666667",None,"0,0","0,0",...,"1,0","3,0","1,0","1,0","0,0","24,0",1826911,away,27,Watford
2895,454349,Rocco Vata,None,None,"58,333333333333336","6,0025","50,0",None,"1,0","0,0",...,"1,0","2,0","0,0","0,0","0,0","15,0",1826948,home,27,Watford
3809,454349,Rocco Vata,None,None,"25,0","5,927142857142857",None,None,"0,0","0,0",...,"0,0","0,0","0,0","0,0","0,0","6,0",1826978,away,27,Watford

In [61]:
rocco_stats = player_stats[player_stats['playerName'].str.contains("vata", case=False, na=False)].copy()

In [62]:
rocco_stats[['passesAccurate', 'passesTotal', 'aerialsWon', 'aerialsTotal',
             'dribblesWon', 'dribblesAttempted', 'shotsOnTarget', 'shotsTotal', 'passesKey']]

,passesAccurate,passesTotal,aerialsWon,aerialsTotal,dribblesWon,dribblesAttempted,shotsOnTarget,shotsTotal,passesKey
878,"5,0","5,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0"
1614,"4,0","5,0","0,0","1,0","0,0","0,0","0,0","0,0","0,0"
1798,"7,0","11,0","0,0","0,0","1,0","2,0","0,0","1,0","1,0"
2895,"4,0","7,0","0,0","1,0","0,0","0,0","1,0","2,0","0,0"
3809,"1,0","4,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0"
3929,"2,0","2,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0"
5331,"11,0","15,0","0,0","1,0","1,0","4,0","0,0","2,0","2,0"
6031,"1,0","2,0","0,0","0,0","0,0","1,0","0,0","2,0","0,0"
6641,"6,0","8,0","0,0","0,0","1,0","4,0","0,0","0,0","1,0"
6795,"3,0","5,0","1,0","2,0","0,0","0,0","1,0","2,0","0,0"
7334,"8,0","10,0","0,0","0,0","0,0","3,0","1,0","2,0","0,0"
7914,"4,0","6,0","0,0","0,0","1,0","2,0","0,0","1,0","0,0"
8087,"2,0","2,0","0,0","0,0","0,0","0,0","1,0","1,0","0,0"
8722,"16,0","18,0","0,0","0,0","5,0","12,0","1,0","3,0","0,0"
9054,"7,0","13,0","1,0","2,0","0,0","2,0","0,0","2,0","0,0"
9585,"14,0","21,0","0,0","0,0","4,0","6,0","2,0","3,0","0,0"
9675,"11,0","16,0","0,0","0,0","3,0","5,0","0,0","1,0","1,0"
9826,"4,0","7,0","0,0","0,0","1,0","2,0","0,0","0,0","1,0"
10622,"3,0","6,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0"
11173,"2,0","4,0","0,0","1,0","0,0","3,0","0,0","0,0","0,0"
11717,"8,0","11,0","0,0","2,0","1,0","2,0","0,0","1,0","2,0"
13495,"5,0","5,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0"
14231,"4,0","5,0","0,0","1,0","0,0","0,0","0,0","0,0","0,0"
14415,"7,0","11,0","0,0","0,0","1,0","2,0","0,0","1,0","1,0"
15512,"4,0","7,0","0,0","1,0","0,0","0,0","1,0","2,0","0,0"
16426,"1,0","4,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0"
16546,"2,0","2,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0"
17948,"11,0","15,0","0,0","1,0","1,0","4,0","0,0","2,0","2,0"
18648,"1,0","2,0","0,0","0,0","0,0","1,0","0,0","2,0","0,0"
19258,"6,0","8,0","0,0","0,0","1,0","4,0","0,0","0,0","1,0"
19412,"3,0","5,0","1,0","2,0","0,0","0,0","1,0","2,0","0,0"
19951,"8,0","10,0","0,0","0,0","0,0","3,0","1,0","2,0","0,0"
20531,"4,0","6,0","0,0","0,0","1,0","2,0","0,0","1,0","0,0"
20704,"2,0","2,0","0,0","0,0","0,0","0,0","1,0","1,0","0,0"
21339,"16,0","18,0","0,0","0,0","5,0","12,0","1,0","3,0","0,0"
21671,"7,0","13,0","1,0","2,0","0,0","2,0","0,0","2,0","0,0"
22202,"14,0","21,0","0,0","0,0","4,0","6,0","2,0","3,0","0,0"
22292,"11,0","16,0","0,0","0,0","3,0","5,0","0,0","1,0","1,0"
22443,"4,0","7,0","0,0","0,0","1,0","2,0","0,0","0,0","1,0"
23239,"3,0","6,0","0,0","0,0","0,0","0,0","0,0","0,0","0,0"
23790,"2,0","4,0","0,0","1,0","0,0","3,0","0,0","0,0","0,0"
24334,"8,0","11,0","0,0","2,0","1,0","2,0","0,0","1,0","2,0"

In [66]:
metric_cols = [
    'passesAccurate', 'passesTotal', 'passesKey',
    'aerialsWon', 'aerialsTotal',
    'dribblesWon', 'dribblesAttempted',
    'shotsOnTarget', 'shotsTotal'
]

for col in metric_cols:
    rocco_stats[col] = (
        rocco_stats[col]
        .astype(str)
        .str.replace(',', '.', regex=False)  # replaces comma with dot
    )
    rocco_stats[col] = pd.to_numeric(rocco_stats[col], errors='coerce')

In [68]:
rocco_stats['pass_completion_pct'] = (
    rocco_stats['passesAccurate'] / rocco_stats['passesTotal'].replace(0, np.nan)
) * 100

rocco_stats['aerial_duel_pct'] = (
    rocco_stats['aerialsWon'] / rocco_stats['aerialsTotal'].replace(0, np.nan)
) * 100

rocco_stats['take_on_success_pct'] = (
    rocco_stats['dribblesWon'] / rocco_stats['dribblesAttempted'].replace(0, np.nan)
) * 100

rocco_stats['shots_on_target_pct'] = (
    rocco_stats['shotsOnTarget'] / rocco_stats['shotsTotal'].replace(0, np.nan)
) * 100

In [70]:
rocco_stats[[
    'matchId', 'passesKey', 'pass_completion_pct',
    'aerial_duel_pct', 'take_on_success_pct', 'shots_on_target_pct'
]].round(2)

,matchId,passesKey,pass_completion_pct,aerial_duel_pct,take_on_success_pct,shots_on_target_pct
878,1826881,0.0,100.00,NaN,NaN,NaN
1614,1826905,0.0,80.00,0.0,NaN,NaN
1798,1826911,1.0,63.64,NaN,50.00,0.00
2895,1826948,0.0,57.14,0.0,NaN,50.00
3809,1826978,0.0,25.00,NaN,NaN,NaN
3929,1826982,0.0,100.00,NaN,NaN,NaN
5331,1827028,2.0,73.33,0.0,25.00,0.00
6031,1827051,0.0,50.00,NaN,0.00,0.00
6641,1827071,1.0,75.00,NaN,25.00,NaN
6795,1827076,0.0,60.00,50.0,NaN,50.00
7334,1827094,0.0,80.00,NaN,0.00,50.00
7914,1827113,0.0,66.67,NaN,50.00,0.00
8087,1827119,0.0,100.00,NaN,NaN,100.00
8722,1827691,0.0,88.89,NaN,41.67,33.33
9054,1827702,0.0,53.85,50.0,0.00,0.00
9585,1827720,0.0,66.67,NaN,66.67,66.67
9675,1827723,1.0,68.75,NaN,60.00,0.00
9826,1827728,1.0,57.14,NaN,50.00,NaN
10622,1827754,0.0,50.00,NaN,NaN,NaN
11173,1827783,0.0,50.00,0.0,0.00,NaN
11717,1827822,2.0,72.73,0.0,50.00,0.00
13495,1826881,0.0,100.00,NaN,NaN,NaN
14231,1826905,0.0,80.00,0.0,NaN,NaN
14415,1826911,1.0,63.64,NaN,50.00,0.00
15512,1826948,0.0,57.14,0.0,NaN,50.00
16426,1826978,0.0,25.00,NaN,NaN,NaN
16546,1826982,0.0,100.00,NaN,NaN,NaN
17948,1827028,2.0,73.33,0.0,25.00,0.00
18648,1827051,0.0,50.00,NaN,0.00,0.00
19258,1827071,1.0,75.00,NaN,25.00,NaN
19412,1827076,0.0,60.00,50.0,NaN,50.00
19951,1827094,0.0,80.00,NaN,0.00,50.00
20531,1827113,0.0,66.67,NaN,50.00,0.00
20704,1827119,0.0,100.00,NaN,NaN,100.00
21339,1827691,0.0,88.89,NaN,41.67,33.33
21671,1827702,0.0,53.85,50.0,0.00,0.00
22202,1827720,0.0,66.67,NaN,66.67,66.67
22292,1827723,1.0,68.75,NaN,60.00,0.00
22443,1827728,1.0,57.14,NaN,50.00,NaN
23239,1827754,0.0,50.00,NaN,NaN,NaN
23790,1827783,0.0,50.00,0.0,0.00,NaN
24334,1827822,2.0,72.73,0.0,50.00,0.00

In [74]:
event_data_backup = event_data.copy()

In [96]:
event_data.head()

,id,eventId,minute,second,teamId,x,y,expandedMinute,qualifiers,satisfiedEventsTypes,...,value_OtherBodyPart,isOwnGoal,value_OwnGoal,value_Obstruction,value_OutOfBoxLeft,value_Red,value_ThirtyFivePlusLeft,value_KeeperSaved,value_KeeperWentWide,value_ThirtyFivePlusRight
0,2715370253,2,0,"0,0",20,"0,0","0,0",0,[],[],...,None,NaN,None,None,None,None,None,None,None,None
1,2715370275,2,0,"0,0",182,"0,0","0,0",0,[],[],...,None,NaN,None,None,None,None,None,None,None,None
2,2715370321,3,0,"0,0",182,"49,9","49,9",0,"[{'type': {'value': 56, 'displayName': 'Zone'}...","[91, 117, 30, 35, 37, 215, 218]",...,None,NaN,None,None,None,None,None,None,None,None
3,2715370467,4,0,"4,0",182,"31,3","41,5",0,"[{'type': {'value': 212, 'displayName': 'Lengt...","[91, 117, 30, 36, 38, 215, 218]",...,None,NaN,None,None,None,None,None,None,None,None
4,2715370523,5,0,"6,0",182,"37,3","13,2",0,"[{'type': {'value': 141, 'displayName': 'PassE...","[91, 119, 117, 30, 36, 38, 216, 218]",...,None,NaN,None,None,None,None,None,None,None,None

In [79]:
event_data['playerName'] = event_data['playerName'].astype(str).str.lower()
rocco_events = event_data[event_data['playerName'].str.contains("vata", na=False)].copy()

In [80]:
rocco_events

,id,eventId,minute,second,teamId,x,y,expandedMinute,qualifiers,satisfiedEventsTypes,...,value_OtherBodyPart,isOwnGoal,value_OwnGoal,value_Obstruction,value_OutOfBoxLeft,value_Red,value_ThirtyFivePlusLeft,value_KeeperSaved,value_KeeperWentWide,value_ThirtyFivePlusRight
42389,2729543493,730,82,"19,0",27,"0,0","0,0",84,"[{'type': {'value': 55, 'displayName': 'Relate...",[213],...,None,NaN,None,None,None,None,None,None,None,None
42404,2729544381,740,84,"18,0",27,"39,5","20,6",86,"[{'type': {'value': 56, 'displayName': 'Zone'}...","[91, 69]",...,None,NaN,None,None,None,None,None,None,None,None
42410,2729544771,744,85,"2,0",27,"22,6","8,9",87,"[{'type': {'value': 56, 'displayName': 'Zone'}...","[91, 143]",...,None,NaN,None,None,None,None,None,None,None,None
42435,2729545573,761,86,"35,0",27,"70,1","77,2",88,"[{'type': {'value': 212, 'displayName': 'Lengt...","[91, 119, 117, 30, 205, 36, 37, 217, 218]",...,None,NaN,None,None,None,None,None,None,None,None
42470,2729547323,780,90,"11,0",27,"69,0","7,9",92,"[{'type': {'value': 56, 'displayName': 'Zone'}...","[91, 119, 117, 30, 35, 37, 216, 218]",...,None,NaN,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571952,2762736137,544,45,"26,0",27,"45,8","5,6",49,"[{'type': {'value': 56, 'displayName': 'Zone'}...","[91, 142]",...,None,NaN,None,None,None,None,None,None,None,None
572010,2762739299,583,48,"41,0",27,"78,8","6,7",52,"[{'type': {'value': 213, 'displayName': 'Angle...","[91, 119, 117, 30, 35, 37, 216, 218]",...,None,NaN,None,None,None,None,None,None,None,None
572102,2762759145,718,53,"38,0",27,"45,2","32,3",57,"[{'type': {'value': 285, 'displayName': 'Defen...","[198, 200]",...,None,NaN,None,None,None,None,None,None,None,None
572108,2762745937,646,53,"41,0",27,"48,2","34,8",57,"[{'type': {'value': 285, 'displayName': 'Defen...","[91, 142]",...,None,NaN,None,None,None,None,None,None,None,None
572135,2762750359,663,56,"59,0",27,"0,0","0,0",60,"[{'type': {'value': 59, 'displayName': 'Jersey...",[214],...,None,NaN,None,None,None,None,None,None,None,None

In [86]:
event_columns_of_interest = [
    'matchId', 'playerName', 'type_displayName', 'x', 'y', 'endX', 'endY',
    'value_PassEndX', 'value_PassEndY',
    'value_IntentionalGoalAssist', 'value_LeadingToGoal',
    'value_ShotAssist', 'value_KeyPass',
    'value_IntentionalAssist',
    'value_BigChance',
    'value_LeadingToAttempt'
]

In [88]:
rocco_event_sample = rocco_events[event_columns_of_interest].copy()

In [89]:
rocco_event_sample

,matchId,playerName,type_displayName,x,y,endX,endY,value_PassEndX,value_PassEndY,value_IntentionalGoalAssist,value_LeadingToGoal,value_ShotAssist,value_KeyPass,value_IntentionalAssist,value_BigChance,value_LeadingToAttempt
42389,1826881,rocco vata,SubstitutionOn,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
42404,1826881,rocco vata,BallTouch,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
42410,1826881,rocco vata,Tackle,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
42435,1826881,rocco vata,Pass,NaN,NaN,NaN,NaN,95.6,89.1,None,NaN,NaN,None,None,None,NaN
42470,1826881,rocco vata,Pass,NaN,NaN,NaN,NaN,56.8,9.2,None,NaN,NaN,None,None,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571952,1827822,rocco vata,Tackle,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
572010,1827822,rocco vata,Pass,NaN,NaN,NaN,NaN,63.9,11.3,None,NaN,NaN,None,None,None,NaN
572102,1827822,rocco vata,Aerial,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
572108,1827822,rocco vata,Tackle,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
572135,1827822,rocco vata,SubstitutionOff,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN

In [90]:
rocco_event_sample['matchId'].nunique()

21

In [91]:
rocco_event_sample['type_displayName'].value_counts()

type_displayName
Pass               198
BallTouch           60
TakeOn              53
BallRecovery        25
Foul                20
Dispossessed        16
Tackle              16
SubstitutionOn      13
Challenge           13
CornerAwarded       13
BlockedPass         12
SavedShot           11
Aerial              10
Clearance            8
MissedShots          8
Interception         6
SubstitutionOff      5
Goal                 3
ShotOnPost           1
OffsideGiven         1
Name: count, dtype: int64

In [93]:
rocco_event_sample[rocco_event_sample['matchId'] == 1827822]

,matchId,playerName,type_displayName,x,y,endX,endY,value_PassEndX,value_PassEndY,value_IntentionalGoalAssist,value_LeadingToGoal,value_ShotAssist,value_KeyPass,value_IntentionalAssist,value_BigChance,value_LeadingToAttempt
571218,1827822,rocco vata,Challenge,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
571268,1827822,rocco vata,Pass,NaN,NaN,NaN,NaN,29.1,60.2,None,NaN,NaN,None,None,None,NaN
571279,1827822,rocco vata,BallTouch,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
571283,1827822,rocco vata,BlockedPass,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
571291,1827822,rocco vata,Clearance,NaN,NaN,NaN,NaN,25.0,33.1,None,NaN,NaN,None,None,None,NaN
571307,1827822,rocco vata,Interception,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
571318,1827822,rocco vata,BallTouch,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
571349,1827822,rocco vata,TakeOn,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
571350,1827822,rocco vata,Pass,NaN,NaN,NaN,NaN,29.6,32.5,None,NaN,NaN,None,None,None,NaN
571464,1827822,rocco vata,Pass,NaN,NaN,NaN,NaN,58.2,15.8,None,NaN,NaN,None,None,None,NaN
571480,1827822,rocco vata,MissedShots,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
571520,1827822,rocco vata,Aerial,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
571533,1827822,rocco vata,Pass,NaN,NaN,NaN,NaN,65.3,26.2,None,NaN,NaN,None,None,None,NaN
571543,1827822,rocco vata,Interception,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
571566,1827822,rocco vata,Pass,NaN,NaN,NaN,NaN,87.0,13.5,None,NaN,NaN,None,None,None,NaN
571572,1827822,rocco vata,Dispossessed,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
571610,1827822,rocco vata,Dispossessed,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
571612,1827822,rocco vata,Pass,NaN,NaN,NaN,NaN,91.4,65.5,None,NaN,NaN,None,None,None,NaN
571636,1827822,rocco vata,BallTouch,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
571706,1827822,rocco vata,Pass,NaN,NaN,NaN,NaN,85.1,29.1,None,NaN,NaN,None,None,None,NaN
571746,1827822,rocco vata,TakeOn,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
571758,1827822,rocco vata,Pass,NaN,NaN,NaN,NaN,55.8,23.9,None,NaN,NaN,None,None,None,NaN
571789,1827822,rocco vata,BallTouch,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
571809,1827822,rocco vata,Pass,NaN,NaN,NaN,NaN,92.5,60.3,None,NaN,16.0,None,None,None,NaN
571867,1827822,rocco vata,Pass,NaN,NaN,NaN,NaN,75.8,24.1,None,NaN,NaN,None,None,None,NaN
571885,1827822,rocco vata,Pass,NaN,NaN,NaN,NaN,58.4,9.7,None,NaN,NaN,None,None,None,NaN
571896,1827822,rocco vata,Pass,NaN,NaN,NaN,NaN,41.7,87.7,None,NaN,NaN,None,None,None,NaN
571952,1827822,rocco vata,Tackle,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
572010,1827822,rocco vata,Pass,NaN,NaN,NaN,NaN,63.9,11.3,None,NaN,NaN,None,None,None,NaN
572102,1827822,rocco vata,Aerial,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
572108,1827822,rocco vata,Tackle,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN
572135,1827822,rocco vata,SubstitutionOff,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,None,None,None,NaN

In [95]:
goals_rocco_raw = event_data[
    (event_data['playerName'].str.lower().str.contains("vata", na=False)) &
    (event_data['type_displayName'] == "Goal")
]

goals_rocco_raw[
    ['matchId', 'playerName', 'type_displayName',
     'x', 'y', 'endX', 'endY',
     'value_PassEndX', 'value_PassEndY',
     'value_IntentionalGoalAssist', 'value_LeadingToGoal',
     'value_ShotAssist', 'value_KeyPass',
     'value_IntentionalAssist', 'value_BigChance', 'value_LeadingToAttempt']
]

,matchId,playerName,type_displayName,x,y,endX,endY,value_PassEndX,value_PassEndY,value_IntentionalGoalAssist,value_LeadingToGoal,value_ShotAssist,value_KeyPass,value_IntentionalAssist,value_BigChance,value_LeadingToAttempt
330594,1827076,rocco vata,Goal,"93,0","44,4",None,None,NaN,NaN,None,NaN,NaN,None,None,None,NaN
357309,1827094,rocco vata,Goal,"92,4","56,2",None,None,NaN,NaN,None,NaN,NaN,None,None,None,NaN
425416,1827691,rocco vata,Goal,"74,0","54,8",None,None,NaN,NaN,None,NaN,NaN,None,None,None,NaN

In [97]:
event_data['x'] = event_data['x'].astype(str).str.replace(',', '.', regex=False)
event_data['y'] = event_data['y'].astype(str).str.replace(',', '.', regex=False)

event_data['x'] = pd.to_numeric(event_data['x'], errors='coerce')
event_data['y'] = pd.to_numeric(event_data['y'], errors='coerce')

In [98]:
event_data[
    (event_data['playerName'].str.lower().str.contains("vata", na=False)) &
    (event_data['x'] >= 94)
][['matchId', 'type_displayName', 'x', 'y']].head(10)

        matchId type_displayName     x     y
42528   1826881             Pass  96.1  18.3
77687   1826905             Pass  98.0  75.1
77689   1826905        BallTouch  97.6  70.9
77721   1826905        BallTouch  98.2  95.1
77815   1826905             Pass  99.5  99.5
85193   1826911             Pass  96.1  92.1
258190  1827028             Pass  94.9  75.6
258505  1827028             Pass  95.9  79.9
293101  1827051             Pass  94.4  86.9
293210  1827051      MissedShots  95.8  63.9

In [110]:
for col in ['value_PassEndX', 'value_PassEndY', 'endX', 'endY']:
    event_data[col] = (
        event_data[col]
        .astype(str)
        .str.replace(',', '.', regex=False)
    )
    event_data[col] = pd.to_numeric(event_data[col], errors='coerce')

In [111]:
event_data[
    event_data['playerName'].str.lower().str.contains("vata", na=False)
][['matchId', 'type_displayName', 'value_PassEndX', 'value_PassEndY','endX','endY']].dropna().head(20)

       matchId type_displayName  value_PassEndX  value_PassEndY  endX   endY
42435  1826881             Pass            95.6            89.1  95.6   89.1
42470  1826881             Pass            56.8             9.2  56.8    9.2
42504  1826881             Pass            14.9            36.6  14.9   36.6
42516  1826881             Pass            58.3            13.7  58.3   13.7
42528  1826881             Pass            98.1            49.7  98.1   49.7
42536  1826881             Pass            62.4            12.6  62.4   12.6
77672  1826905             Pass            74.5            43.0  74.5   43.0
77685  1826905             Pass            85.6            92.6  85.6   92.6
77687  1826905             Pass            97.6            70.9  97.6   70.9
77801  1826905             Pass            61.3            88.6  61.3   88.6
77811  1826905             Pass            89.0            81.2  89.0   81.2
77815  1826905             Pass            96.8            50.6  96.8   50.6
77876  1826905        Clearance            31.8            36.9  31.8   36.9
77899  1826905             Pass            35.6            80.0  35.6   80.0
85193  1826911             Pass            90.5            96.6  90.5   96.6
85258  1826911             Pass            46.3            46.3  46.3   46.3
85480  1826911             Pass            83.4            96.3  83.4   96.3
85486  1826911             Pass            91.6           100.0  91.6  100.0
85509  1826911             Pass            70.1            72.8  70.1   72.8
85630  1826911             Pass            80.7            53.2  80.7   53.2

In [112]:
rocco_events = event_data[event_data['playerName'].str.lower().str.contains("vata", na=False)].copy()

In [113]:
rocco_events

,id,eventId,minute,second,teamId,x,y,expandedMinute,qualifiers,satisfiedEventsTypes,...,value_OtherBodyPart,isOwnGoal,value_OwnGoal,value_Obstruction,value_OutOfBoxLeft,value_Red,value_ThirtyFivePlusLeft,value_KeeperSaved,value_KeeperWentWide,value_ThirtyFivePlusRight
42389,2729543493,730,82,"19,0",27,0.0,0.0,84,"[{'type': {'value': 55, 'displayName': 'Relate...",[213],...,None,NaN,None,None,None,None,None,None,None,None
42404,2729544381,740,84,"18,0",27,39.5,20.6,86,"[{'type': {'value': 56, 'displayName': 'Zone'}...","[91, 69]",...,None,NaN,None,None,None,None,None,None,None,None
42410,2729544771,744,85,"2,0",27,22.6,8.9,87,"[{'type': {'value': 56, 'displayName': 'Zone'}...","[91, 143]",...,None,NaN,None,None,None,None,None,None,None,None
42435,2729545573,761,86,"35,0",27,70.1,77.2,88,"[{'type': {'value': 212, 'displayName': 'Lengt...","[91, 119, 117, 30, 205, 36, 37, 217, 218]",...,None,NaN,None,None,None,None,None,None,None,None
42470,2729547323,780,90,"11,0",27,69.0,7.9,92,"[{'type': {'value': 56, 'displayName': 'Zone'}...","[91, 119, 117, 30, 35, 37, 216, 218]",...,None,NaN,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
571952,2762736137,544,45,"26,0",27,45.8,5.6,49,"[{'type': {'value': 56, 'displayName': 'Zone'}...","[91, 142]",...,None,NaN,None,None,None,None,None,None,None,None
572010,2762739299,583,48,"41,0",27,78.8,6.7,52,"[{'type': {'value': 213, 'displayName': 'Angle...","[91, 119, 117, 30, 35, 37, 216, 218]",...,None,NaN,None,None,None,None,None,None,None,None
572102,2762759145,718,53,"38,0",27,45.2,32.3,57,"[{'type': {'value': 285, 'displayName': 'Defen...","[198, 200]",...,None,NaN,None,None,None,None,None,None,None,None
572108,2762745937,646,53,"41,0",27,48.2,34.8,57,"[{'type': {'value': 285, 'displayName': 'Defen...","[91, 142]",...,None,NaN,None,None,None,None,None,None,None,None
572135,2762750359,663,56,"59,0",27,0.0,0.0,60,"[{'type': {'value': 59, 'displayName': 'Jersey...",[214],...,None,NaN,None,None,None,None,None,None,None,None

In [128]:
cols_final = [
    'matchId', 'playerName', 'teamName', 'type_displayName',
    'x', 'y', 'endX', 'endY',
    'value_PassEndX', 'value_PassEndY',
    'value_ShotAssist'
]

In [129]:
rocco_event_df = event_data[
    event_data['playerName'].str.lower().str.contains("vata", na=False)
][cols_final].copy()

In [130]:
for col in ['x', 'y', 'endX', 'endY', 'value_PassEndX', 'value_PassEndY']:
    rocco_event_df[col] = (
        rocco_event_df[col]
        .astype(str)
        .str.replace(',', '.', regex=False)
    )
    rocco_event_df[col] = pd.to_numeric(rocco_event_df[col], errors='coerce')

In [131]:
rocco_event_df.head(10)

,matchId,playerName,teamName,type_displayName,x,y,endX,endY,value_PassEndX,value_PassEndY,value_ShotAssist
42389,1826881,rocco vata,Watford,SubstitutionOn,0.0,0.0,NaN,NaN,NaN,NaN,NaN
42404,1826881,rocco vata,Watford,BallTouch,39.5,20.6,NaN,NaN,NaN,NaN,NaN
42410,1826881,rocco vata,Watford,Tackle,22.6,8.9,NaN,NaN,NaN,NaN,NaN
42435,1826881,rocco vata,Watford,Pass,70.1,77.2,95.6,89.1,95.6,89.1,NaN
42470,1826881,rocco vata,Watford,Pass,69.0,7.9,56.8,9.2,56.8,9.2,NaN
42504,1826881,rocco vata,Watford,Pass,26.0,9.7,14.9,36.6,14.9,36.6,NaN
42516,1826881,rocco vata,Watford,Pass,64.0,5.5,58.3,13.7,58.3,13.7,NaN
42528,1826881,rocco vata,Watford,Pass,96.1,18.3,98.1,49.7,98.1,49.7,NaN
42536,1826881,rocco vata,Watford,Pass,72.5,5.3,62.4,12.6,62.4,12.6,NaN
77624,1826905,rocco vata,Watford,SubstitutionOn,0.0,0.0,NaN,NaN,NaN,NaN,NaN

In [132]:
rocco_event_df.replace({None: np.nan}, inplace=True)

In [133]:
# Identify value columns
value_cols = [col for col in rocco_event_df.columns if col.startswith("value_")]

# Convert all to numeric
for col in value_cols:
    rocco_event_df[col] = pd.to_numeric(rocco_event_df[col], errors='coerce')

In [134]:
rocco_event_df[value_cols] = rocco_event_df[value_cols].fillna(0)

In [135]:
rocco_event_df.head(10)

,matchId,playerName,teamName,type_displayName,x,y,endX,endY,value_PassEndX,value_PassEndY,value_ShotAssist
42389,1826881,rocco vata,Watford,SubstitutionOn,0.0,0.0,NaN,NaN,0.0,0.0,0.0
42404,1826881,rocco vata,Watford,BallTouch,39.5,20.6,NaN,NaN,0.0,0.0,0.0
42410,1826881,rocco vata,Watford,Tackle,22.6,8.9,NaN,NaN,0.0,0.0,0.0
42435,1826881,rocco vata,Watford,Pass,70.1,77.2,95.6,89.1,95.6,89.1,0.0
42470,1826881,rocco vata,Watford,Pass,69.0,7.9,56.8,9.2,56.8,9.2,0.0
42504,1826881,rocco vata,Watford,Pass,26.0,9.7,14.9,36.6,14.9,36.6,0.0
42516,1826881,rocco vata,Watford,Pass,64.0,5.5,58.3,13.7,58.3,13.7,0.0
42528,1826881,rocco vata,Watford,Pass,96.1,18.3,98.1,49.7,98.1,49.7,0.0
42536,1826881,rocco vata,Watford,Pass,72.5,5.3,62.4,12.6,62.4,12.6,0.0
77624,1826905,rocco vata,Watford,SubstitutionOn,0.0,0.0,NaN,NaN,0.0,0.0,0.0

In [136]:
# 1. Passes into Penalty Area (based on destination)
passes_into_penalty_area = rocco_event_df[
    (rocco_event_df['value_PassEndX'] >= 94) &
    (rocco_event_df['value_PassEndY'] >= 21) &
    (rocco_event_df['value_PassEndY'] <= 79)
].groupby('matchId').size().rename('passes_into_penalty_area')

# 2. Carries into Final Third
carries_into_final_third = rocco_event_df[
    (rocco_event_df['x'] < 66.7) & 
    (rocco_event_df['endX'] >= 66.7)
].groupby('matchId').size().rename('carries_into_final_third')

# 3. Carries into Penalty Area
carries_into_penalty_area = rocco_event_df[
    (rocco_event_df['endX'] >= 94) & 
    (rocco_event_df['endY'] >= 21) & 
    (rocco_event_df['endY'] <= 79)
].groupby('matchId').size().rename('carries_into_penalty_area')

# 4. Goals (based on event type)
goals = rocco_event_df[
    rocco_event_df['type_displayName'] == 'Goal'
].groupby('matchId').size().rename('goals')

# 5. Shot Creating Actions (only using value_ShotAssist)
shot_creation_actions = rocco_event_df[
    rocco_event_df['value_ShotAssist'] > 0
].groupby('matchId').size().rename('shot_creation_actions')

In [137]:
rocco_event_metrics = pd.concat([
    passes_into_penalty_area,
    carries_into_final_third,
    carries_into_penalty_area,
    goals,
    shot_creation_actions
], axis=1).fillna(0).reset_index()

In [138]:
rocco_event_df = rocco_event_df.merge(
    rocco_event_metrics,
    on='matchId',
    how='left'
).fillna(0)

In [139]:
rocco_event_df

,matchId,playerName,teamName,type_displayName,x,y,endX,endY,value_PassEndX,value_PassEndY,value_ShotAssist,passes_into_penalty_area,carries_into_final_third,carries_into_penalty_area,goals,shot_creation_actions
0,1826881,rocco vata,Watford,SubstitutionOn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
1,1826881,rocco vata,Watford,BallTouch,39.5,20.6,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
2,1826881,rocco vata,Watford,Tackle,22.6,8.9,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,1826881,rocco vata,Watford,Pass,70.1,77.2,95.6,89.1,95.6,89.1,0.0,1.0,0.0,1.0,0.0,0.0
4,1826881,rocco vata,Watford,Pass,69.0,7.9,56.8,9.2,56.8,9.2,0.0,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,1827822,rocco vata,Watford,Tackle,45.8,5.6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
488,1827822,rocco vata,Watford,Pass,78.8,6.7,63.9,11.3,63.9,11.3,0.0,0.0,0.0,0.0,0.0,1.0
489,1827822,rocco vata,Watford,Aerial,45.2,32.3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
490,1827822,rocco vata,Watford,Tackle,48.2,34.8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
491,1827822,rocco vata,Watford,SubstitutionOff,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [140]:
rocco_by_match = rocco_event_df.groupby('matchId')[
    [
        'passes_into_penalty_area',
        'carries_into_final_third',
        'carries_into_penalty_area',
        'goals',
        'shot_creation_actions'
    ]
].first().reset_index()

In [142]:
rocco_by_match.sort_values('matchId').round(2)

,matchId,passes_into_penalty_area,carries_into_final_third,carries_into_penalty_area,goals,shot_creation_actions
0,1826881,1.0,0.0,1.0,0.0,0.0
1,1826905,2.0,1.0,2.0,0.0,0.0
2,1826911,0.0,0.0,0.0,0.0,1.0
3,1826948,0.0,1.0,0.0,0.0,0.0
4,1826978,0.0,1.0,0.0,0.0,0.0
5,1826982,0.0,0.0,0.0,0.0,0.0
6,1827028,1.0,0.0,1.0,0.0,2.0
7,1827051,0.0,0.0,0.0,0.0,0.0
8,1827071,1.0,0.0,1.0,0.0,1.0
9,1827076,1.0,0.0,1.0,1.0,0.0
10,1827094,3.0,1.0,3.0,1.0,0.0
11,1827113,0.0,1.0,0.0,0.0,0.0
12,1827119,1.0,0.0,1.0,0.0,0.0
13,1827691,0.0,2.0,0.0,1.0,0.0
14,1827702,1.0,2.0,1.0,0.0,0.0
15,1827720,0.0,3.0,0.0,0.0,0.0
16,1827723,0.0,2.0,0.0,0.0,1.0
17,1827728,0.0,1.0,0.0,0.0,1.0
18,1827754,1.0,0.0,1.0,0.0,0.0
19,1827783,0.0,0.0,0.0,0.0,0.0
20,1827822,0.0,0.0,0.0,0.0,1.0

In [143]:
rocco_event_df = rocco_event_df.merge(
    rocco_stats,
    on='matchId',
    how='left'
)

In [144]:
rocco_event_df

,matchId,playerName_x,teamName_x,type_displayName,x,y,endX,endY,value_PassEndX,value_PassEndY,...,throwInsTotal,totalSaves,touches,field,teamId,teamName_y,pass_completion_pct,aerial_duel_pct,take_on_success_pct,shots_on_target_pct
0,1826881,rocco vata,Watford,SubstitutionOn,0.0,0.0,0.0,0.0,0.0,0.0,...,"0,0","0,0","8,0",away,27,Watford,100.000000,NaN,NaN,NaN
1,1826881,rocco vata,Watford,SubstitutionOn,0.0,0.0,0.0,0.0,0.0,0.0,...,"0,0","0,0","8,0",away,27,Watford,100.000000,NaN,NaN,NaN
2,1826881,rocco vata,Watford,BallTouch,39.5,20.6,0.0,0.0,0.0,0.0,...,"0,0","0,0","8,0",away,27,Watford,100.000000,NaN,NaN,NaN
3,1826881,rocco vata,Watford,BallTouch,39.5,20.6,0.0,0.0,0.0,0.0,...,"0,0","0,0","8,0",away,27,Watford,100.000000,NaN,NaN,NaN
4,1826881,rocco vata,Watford,Tackle,22.6,8.9,0.0,0.0,0.0,0.0,...,"0,0","0,0","8,0",away,27,Watford,100.000000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
979,1827822,rocco vata,Watford,Aerial,45.2,32.3,0.0,0.0,0.0,0.0,...,"0,0","0,0","28,0",home,27,Watford,72.727273,0.0,50.0,0.0
980,1827822,rocco vata,Watford,Tackle,48.2,34.8,0.0,0.0,0.0,0.0,...,"0,0","0,0","28,0",home,27,Watford,72.727273,0.0,50.0,0.0
981,1827822,rocco vata,Watford,Tackle,48.2,34.8,0.0,0.0,0.0,0.0,...,"0,0","0,0","28,0",home,27,Watford,72.727273,0.0,50.0,0.0
982,1827822,rocco vata,Watford,SubstitutionOff,0.0,0.0,0.0,0.0,0.0,0.0,...,"0,0","0,0","28,0",home,27,Watford,72.727273,0.0,50.0,0.0
983,1827822,rocco vata,Watford,SubstitutionOff,0.0,0.0,0.0,0.0,0.0,0.0,...,"0,0","0,0","28,0",home,27,Watford,72.727273,0.0,50.0,0.0

In [145]:
rocco_event_df.columns

Index(['matchId', 'playerName_x', 'teamName_x', 'type_displayName', 'x', 'y',
       'endX', 'endY', 'value_PassEndX', 'value_PassEndY', 'value_ShotAssist',
       'passes_into_penalty_area', 'carries_into_final_third',
       'carries_into_penalty_area', 'goals', 'shot_creation_actions',
       'playerId', 'playerName_y', 'aerialSuccess', 'dribbleSuccess',
       'passSuccess', 'ratings', 'tackleSuccess', 'throwInAccuracy',
       'aerialsTotal', 'aerialsWon', 'claimsHigh', 'clearances', 'collected',
       'cornersAccurate', 'cornersTotal', 'defensiveAerials', 'dispossessed',
       'dribbledPast', 'dribblesAttempted', 'dribblesLost', 'dribblesWon',
       'errors', 'foulsCommited', 'interceptions', 'offensiveAerials',
       'offsidesCaught', 'parriedDanger', 'parriedSafe', 'passesAccurate',
       'passesKey', 'passesTotal', 'possession', 'shotsBlocked',
       'shotsOffTarget', 'shotsOnPost', 'shotsOnTarget', 'shotsTotal',
       'tackleSuccessful', 'tackleUnsuccesful', 'tacklesTotal',
       'throwInsAccurate', 'throwInsTotal', 'totalSaves', 'touches', 'field',
       'teamId', 'teamName_y', 'pass_completion_pct', 'aerial_duel_pct',
       'take_on_success_pct', 'shots_on_target_pct'],
      dtype='object')

In [147]:
rocco_event_df[[
    'matchId','passesKey','pass_completion_pct',
    'aerial_duel_pct', 'take_on_success_pct', 'shots_on_target_pct','passes_into_penalty_area','carries_into_final_third','carries_into_penalty_area','goals',
    'shot_creation_actions'
]].sort_values('matchId')

,matchId,passesKey,pass_completion_pct,aerial_duel_pct,take_on_success_pct,shots_on_target_pct,passes_into_penalty_area,carries_into_final_third,carries_into_penalty_area,goals,shot_creation_actions
0,1826881,0.0,100.000000,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0
17,1826881,0.0,100.000000,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0
16,1826881,0.0,100.000000,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0
15,1826881,0.0,100.000000,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0
13,1826881,0.0,100.000000,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
946,1827822,2.0,72.727273,0.0,50.0,0.0,0.0,0.0,0.0,0.0,1.0
947,1827822,2.0,72.727273,0.0,50.0,0.0,0.0,0.0,0.0,0.0,1.0
948,1827822,2.0,72.727273,0.0,50.0,0.0,0.0,0.0,0.0,0.0,1.0
950,1827822,2.0,72.727273,0.0,50.0,0.0,0.0,0.0,0.0,0.0,1.0
983,1827822,2.0,72.727273,0.0,50.0,0.0,0.0,0.0,0.0,0.0,1.0

In [43]:
player_data['position'].value_counts()

position
Sub    14932
DC      3690
DMC     2014
FW      1872
GK      1660
MC      1648
DR      1334
DL      1334
AMC     1304
AMR      944
AML      944
MR       288
ML       288
DMR      270
DML      270
FWR      200
FWL      200
Name: count, dtype: int64

In [148]:
rocco_summary = rocco_event_df.groupby('matchId')[[
    'passesKey', 'pass_completion_pct',
    'aerial_duel_pct', 'take_on_success_pct', 'shots_on_target_pct',
    'passes_into_penalty_area', 'carries_into_final_third', 'carries_into_penalty_area',
    'goals', 'shot_creation_actions'
]].first().reset_index().sort_values('matchId')

In [149]:
rocco_summary

,matchId,passesKey,pass_completion_pct,aerial_duel_pct,take_on_success_pct,shots_on_target_pct,passes_into_penalty_area,carries_into_final_third,carries_into_penalty_area,goals,shot_creation_actions
0,1826881,0.0,100.000000,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0
1,1826905,0.0,80.000000,0.0,NaN,NaN,2.0,1.0,2.0,0.0,0.0
2,1826911,1.0,63.636364,NaN,50.000000,0.000000,0.0,0.0,0.0,0.0,1.0
3,1826948,0.0,57.142857,0.0,NaN,50.000000,0.0,1.0,0.0,0.0,0.0
4,1826978,0.0,25.000000,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0
5,1826982,0.0,100.000000,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
6,1827028,2.0,73.333333,0.0,25.000000,0.000000,1.0,0.0,1.0,0.0,2.0
7,1827051,0.0,50.000000,NaN,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0
8,1827071,1.0,75.000000,NaN,25.000000,NaN,1.0,0.0,1.0,0.0,1.0
9,1827076,0.0,60.000000,50.0,NaN,50.000000,1.0,0.0,1.0,1.0,0.0
10,1827094,0.0,80.000000,NaN,0.000000,50.000000,3.0,1.0,3.0,1.0,0.0
11,1827113,0.0,66.666667,NaN,50.000000,0.000000,0.0,1.0,0.0,0.0,0.0
12,1827119,0.0,100.000000,NaN,NaN,100.000000,1.0,0.0,1.0,0.0,0.0
13,1827691,0.0,88.888889,NaN,41.666667,33.333333,0.0,2.0,0.0,1.0,0.0
14,1827702,0.0,53.846154,50.0,0.000000,0.000000,1.0,2.0,1.0,0.0,0.0
15,1827720,0.0,66.666667,NaN,66.666667,66.666667,0.0,3.0,0.0,0.0,0.0
16,1827723,1.0,68.750000,NaN,60.000000,0.000000,0.0,2.0,0.0,0.0,1.0
17,1827728,1.0,57.142857,NaN,50.000000,NaN,0.0,1.0,0.0,0.0,1.0
18,1827754,0.0,50.000000,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0
19,1827783,0.0,50.000000,0.0,0.000000,NaN,0.0,0.0,0.0,0.0,0.0
20,1827822,2.0,72.727273,0.0,50.000000,0.000000,0.0,0.0,0.0,0.0,1.0

In [ ]:
elif section == "Player Comparison":
    st.info("Top 5 Players in the Competition – Left Wingers (AML)")

    # Filter player_stats to only AML positions based on event_data
    aml_ids = event_data[event_data["position"] == "AML"]["playerId"].unique()
    filtered_stats = player_stats[player_stats["playerId"].isin(aml_ids)].copy()

    # Convert metrics and ratings
    metric_conversion_cols = [
        "passesAccurate", "passesTotal", "passesKey", "aerialsWon", "aerialsTotal",
        "dribblesWon", "dribblesAttempted", "shotsOnTarget", "shotsTotal", "ratings"
    ]
    for col in metric_conversion_cols:
        filtered_stats[col] = (
            filtered_stats[col].astype(str).str.replace(",", ".", regex=False)
        )
        filtered_stats[col] = pd.to_numeric(filtered_stats[col], errors="coerce").fillna(0)

    # Add player info
    merged_df = filtered_stats.merge(
        player_data[["playerId", "playerName", "teamName", "age", "shirtNo", "height", "weight"]],
        on="playerId",
        how="left"
    )

    # Add match dates
    merged_df, _, _ = add_match_dates(merged_df, match_data)

    # Compute metrics per player
    def compute_player_metrics(group):
        return pd.Series({
            "pass_completion_pct": (group["passesAccurate"].sum() / group["passesTotal"].sum()) * 100 if group["passesTotal"].sum() > 0 else 0,
            "key_passes": group["passesKey"].mean(),
            "aerial_duel_pct": (group["aerialsWon"].sum() / group["aerialsTotal"].sum()) * 100 if group["aerialsTotal"].sum() > 0 else 0,
            "take_on_success_pct": (group["dribblesWon"].sum() / group["dribblesAttempted"].sum()) * 100 if group["dribblesAttempted"].sum() > 0 else 0,
            "goal_creating_actions": (group["passesKey"] + group["dribblesWon"]).mean(),
            "shot_creating_actions": (group["shotsTotal"] + group["passesKey"]).mean(),
            "shots_on_target_pct": (group["shotsOnTarget"].sum() / group["shotsTotal"].sum()) * 100 if group["shotsTotal"].sum() > 0 else 0,
            "goals": 0,  # Optional: from event_data if needed
            "passes_into_penalty_area": 0,  # Optional
            "carries_into_final_third": 0,  # Optional
            "carries_into_penalty_area": 0,  # Optional
            "ratings": group["ratings"].mean(),
            "games_played": group.shape[0],
            "age": group["age"].iloc[0],
            "shirtNo": group["shirtNo"].iloc[0],
            "height": group["height"].iloc[0],
            "weight": group["weight"].iloc[0],
            "teamName": group["teamName"].iloc[0],
            "playerName": group["playerName"].iloc[0]
        })

    comparison_df = merged_df.groupby("playerId", group_keys=False).apply(compute_player_metrics).reset_index(drop=True)

    # Filter by minimum matches and sort by rating
    comparison_df = comparison_df[comparison_df["games_played"] >= 5]
    comparison_df = comparison_df.sort_values("ratings", ascending=False)

    # Add logged-in player if missing
    if player_id not in comparison_df["playerId"].values:
        player_stats_filtered = player_stats[player_stats["playerId"] == player_id].copy()
        player_stats_filtered, _, _ = add_match_dates(player_stats_filtered, match_data)
        player_stats_filtered = player_stats_filtered.merge(
            player_data[["playerId", "playerName", "teamName", "age", "shirtNo", "height", "weight"]],
            on="playerId",
            how="left"
        )
        for col in metric_conversion_cols:
            player_stats_filtered[col] = (
                player_stats_filtered[col].astype(str).str.replace(",", ".", regex=False)
            )
            player_stats_filtered[col] = pd.to_numeric(player_stats_filtered[col], errors="coerce").fillna(0)

        vata_metrics = compute_player_metrics(player_stats_filtered)
        vata_metrics["playerId"] = player_id
        vata_metrics["playerName"] = player_name
        comparison_df = pd.concat([comparison_df, pd.DataFrame([vata_metrics])], ignore_index=True)

    # Get top 5 + current player
    top5_df = comparison_df.head(5)
    vata_row = comparison_df[comparison_df["playerId"] == player_id]
    compare_df = pd.concat([top5_df, vata_row]).drop_duplicates("playerId")

    # Summary table
    summary_cols = ["playerName", "age", "shirtNo", "height", "weight", "games_played", "teamName"]
    player_summary = compare_df[summary_cols].copy()
    player_summary.columns = ["Name", "Age", "Shirt No", "Height", "Weight", "Games Played", "Team"]

    st.dataframe(
        player_summary.reset_index(drop=True).style.set_properties(**{
            'background-color': '#1e1e1e',
            'color': 'white',
            'text-align': 'center'
        }).set_table_styles([
            {'selector': 'th', 'props': [('color', '#fcec03'), ('font-weight', 'bold'), ('text-align', 'center')]}
        ])
    )

    # Player filter
    all_options = compare_df["playerName"].tolist()
    default_selected = [player_name] + [p for p in all_options if p != player_name]
    selected_players = st.multiselect("Select players to compare", options=all_options, default=default_selected)

    filtered_df = compare_df[compare_df["playerName"].isin(selected_players)]

    # Charts
    st.markdown("### 📊 Metric Comparison")
    metric_chunks = [metric_keys[i:i + 2] for i in range(0, len(metric_keys), 2)]
    for row_metrics in metric_chunks:
        cols = st.columns(len(row_metrics))
        for i, key in enumerate(row_metrics):
            chart_df = filtered_df[["playerName", key]].sort_values(by=key, ascending=False)
            with cols[i]:
                with st.container(border=True):
                    st.markdown(f"**{metric_labels[key]}**")
                    bar = alt.Chart(chart_df).mark_bar().encode(
                        x=alt.X("playerName:N", title="Player"),
                        y=alt.Y(f"{key}:Q", title=metric_labels[key]),
                        color=alt.condition(
                            alt.datum.playerName == player_name,
                            alt.value("#fcec03"),
                            alt.value("#cccccc")
                        ),
                        tooltip=[
                            alt.Tooltip("playerName:N", title="Player"),
                            alt.Tooltip(f"{key}:Q", title=metric_labels[key], format=".2f")
                        ]
                    ).properties(height=250)
                    st.altair_chart(bar, use_container_width=True)

In [17]:
# Sort to ensure deterministic order: by matchId and teamId (or any field that's consistent)
team_data_sorted = team_data.sort_values(by=['matchId', 'teamId'])
# Assign home and away using group position: first row = home, second = away
team_data_sorted['home_away'] = team_data_sorted.groupby('matchId').cumcount().map({0: 'home', 1: 'away'})

# Sanity check
team_data_sorted[['matchId', 'teamId', 'teamName', 'home_away']].head(10)

   matchId  teamId       teamName home_away
0  1826853      20          Derby      home
1  1826853     182   Bristol City      away
2  1826854      27        Watford      home
3  1826854      96          Stoke      away
5  1826855      20          Derby      home
4  1826855      27        Watford      away
7  1826856     158      Blackburn      home
6  1826856     184        Burnley      away
8  1826857      21  Middlesbrough      home
9  1826857     259        Swansea      away

In [20]:
match_data['score'].dropna().unique()[:20]  # See the first 20 unique non-null values

array(['3 : 0', '2 : 1', '1 : 1', '1 : 0', '0 : 1', '3 : 3', '2 : 3',
       '2 : 0', '1 : 2', '1 : 3', '2 : 2', '4 : 0', '1 : 4', '3 : 1',
       '0 : 2', '4 : 3', '0 : 0', '3 : 2', '0 : 3', '4 : 1'], dtype=object)

In [21]:
# Remove spaces and split using colon
score_split = match_data['score'].str.replace(" ", "", regex=False).str.split(":", expand=True)

# Assign home and away goals
match_data['home_goals'] = pd.to_numeric(score_split[0], errors='coerce')
match_data['away_goals'] = pd.to_numeric(score_split[1], errors='coerce')

# Sanity check
match_data[['matchId', 'score', 'home_goals', 'away_goals']].dropna().head()

   matchId  score  home_goals  away_goals
0  1826853  3 : 0           3           0
1  1826854  3 : 0           3           0
2  1826855  2 : 1           2           1
3  1826856  1 : 1           1           1
4  1826857  1 : 0           1           0

In [32]:
# Merge the goal columns from match_data into team_data
team_scores_df = pd.merge(
    team_data,
    match_data[['matchId', 'home_goals', 'away_goals']],
    on='matchId',
    how='left'
)

# Compare each team's fulltime score with home_goals and away_goals to infer side
team_scores_df['home_away'] = team_scores_df.apply(
    lambda row: 'home' if row['scores.fulltime'] == row['home_goals'] else 'away',
    axis=1
)

# Confirm it works
team_scores_df[['matchId', 'teamName', 'scores.fulltime', 'home_goals', 'away_goals', 'home_away']].head(10)

   matchId       teamName  scores.fulltime  home_goals  away_goals home_away
0  1826853          Derby                3           3           0      home
1  1826853   Bristol City                0           3           0      away
2  1826854        Watford                3           3           0      home
3  1826854          Stoke                0           3           0      away
4  1826855        Watford                2           2           1      home
5  1826855          Derby                1           2           1      away
6  1826856        Burnley                1           1           1      home
7  1826856      Blackburn                1           1           1      home
8  1826857  Middlesbrough                1           1           0      home
9  1826857        Swansea                0           1           0      away

In [33]:
def assign_points(row):
    if row['home_away'] == 'home':
        if row['home_goals'] > row['away_goals']:
            return 3
        elif row['home_goals'] == row['away_goals']:
            return 1
        else:
            return 0
    else:  # away
        if row['away_goals'] > row['home_goals']:
            return 3
        elif row['away_goals'] == row['home_goals']:
            return 1
        else:
            return 0

team_scores_df['points'] = team_scores_df.apply(assign_points, axis=1)

# Preview
team_scores_df[['matchId', 'teamName', 'home_away', 'home_goals', 'away_goals', 'points']].head()

   matchId      teamName home_away  home_goals  away_goals  points
0  1826853         Derby      home           3           0       3
1  1826853  Bristol City      away           3           0       0
2  1826854       Watford      home           3           0       3
3  1826854         Stoke      away           3           0       0
4  1826855       Watford      home           2           1       3

In [34]:
# Sum total points per team
team_points_df = team_scores_df.groupby(['teamId', 'teamName'], as_index=False)['points'].sum()

# Sort to get top 5
top5_teams = team_points_df.sort_values(by='points', ascending=False).head(5)

# Preview the top 5
top5_teams

    teamId       teamName  points
10     163      Sheff Utd      85
17     184        Burnley      84
2       19          Leeds      82
0       16     Sunderland      75
4       21  Middlesbrough      60

In [36]:
# Merge player_stats with player_data to get position
players_full = pd.merge(
    player_stats,
    player_data[['playerId', 'matchId', 'position', 'age', 'shirtNo', 'height', 'weight']],
    on=['playerId', 'matchId'],
    how='left'
)

# Filter only AML players
aml_players = players_full[players_full['position'] == 'AML']

# Keep only those in the top 5 teams
aml_top5_players = aml_players[aml_players['teamId'].isin(top5_teams['teamId'])]

# Preview
aml_top5_players[['playerName', 'teamName', 'position', 'age', 'shirtNo']].drop_duplicates()

             playerName       teamName position  age  shirtNo
222      Jaidon Anthony        Burnley      AML   25       11
262        Riley McGree  Middlesbrough      AML   26        8
420     Wilfried Gnonto          Leeds      AML   21       29
504       Manor Solomon          Leeds      AML   25       14
1006        Jack Clarke     Sunderland      AML   24       20
1084      Luca Koleosho        Burnley      AML   20       30
1610    Largie Ramazani          Leeds      AML   24       17
2184          Finn Azaz  Middlesbrough      AML   24       20
2370   Jeremy Sarmiento        Burnley      AML   22        7
2576      Gustavo Hamer      Sheff Utd      AML   27        8
3900     Romaine Mundle     Sunderland      AML   21       14
4232    Delano Burgzorg  Middlesbrough      AML   26       10
5814      Callum O'Hare      Sheff Utd      AML   26       10
6096     Micah Hamilton  Middlesbrough      AML   21       17
6390         Tom Watson     Sunderland      AML   18       40
11744     Wilson Isidor     Sunderland      AML   24       18
14782   Hannibal Mejbri        Burnley      AML   22       28
15216   Eliezer Mayenda     Sunderland      AML   19       12
16384    Adil Aouchiche     Sunderland      AML   22       22
17542       Lyle Foster        Burnley      AML   24       17
20102      Ben Brereton      Sheff Utd      AML   25       20
20310       Enzo Le Fée     Sunderland      AML   25       28

In [37]:
# Replace commas with dots and convert to float
aml_top5_players['ratings_clean'] = (
    aml_top5_players['ratings']
    .str.replace(',', '.', regex=False)
    .astype(float)
)

# Rank descending by rating
aml_top5_ranked = aml_top5_players.sort_values(by='ratings_clean', ascending=False)

# Optional: drop duplicates if you only want best match per player
aml_top5_ranked_unique = aml_top5_ranked.drop_duplicates(subset='playerId', keep='first')

# Display top 10
aml_top5_ranked_unique[['playerName', 'teamName', 'ratings_clean', 'age', 'shirtNo']].head(10)

/var/folders/18/_sj9qx0n3nqgyby1044ngpym0000gn/T/ipykernel_8639/3194792200.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aml_top5_players['ratings_clean'] = (

            playerName       teamName  ratings_clean  age  shirtNo
34246       Tom Watson     Sunderland       7.848125   18       40
40975    Manor Solomon          Leeds       7.609355   25       14
21584      Enzo Le Fée     Sunderland       7.588182   25       28
7393     Gustavo Hamer      Sheff Utd       7.353333   27        8
11371     Riley McGree  Middlesbrough       7.315263   26        8
4556    Romaine Mundle     Sunderland       7.304474   21       14
10334        Finn Azaz  Middlesbrough       7.254091   24       20
1006       Jack Clarke     Sunderland       7.235610   24       20
9260   Wilfried Gnonto          Leeds       7.165172   21       29
42776      Lyle Foster        Burnley       7.153333   24       17

In [52]:
def get_top5_aml_players(start_date, end_date, match_data, team_data, player_stats, player_data, min_matches=3):
    """
    Returns the top 5 AML players from the top 5 teams during the given time period,
    ranked by average rating (Opta-based), considering a minimum number of matches played.
    

    Parameters:
    - start_date (str): format "YYYY-MM-DD"
    - end_date (str): format "YYYY-MM-DD"
    - match_data (DataFrame): contains match scores and dates
    - team_data (DataFrame): contains team and fulltime scores
    - player_stats (DataFrame): contains player match stats and ratings
    - player_data (DataFrame): contains player metadata including position
    - min_matches (int): minimum number of matches played to be included

    Returns:
    - DataFrame with top 5 AML players sorted by average rating
    """

    # --- Filter match_data by date ---
    match_data['startDate'] = pd.to_datetime(match_data['startDate'])
    filtered_matches = match_data[
        (match_data['startDate'] >= pd.to_datetime(start_date)) &
        (match_data['startDate'] <= pd.to_datetime(end_date))
    ]

    # --- Extract goals from score ---
    score_split = filtered_matches['score'].str.replace(" ", "", regex=False).str.split(":", expand=True)
    filtered_matches['home_goals'] = pd.to_numeric(score_split[0], errors='coerce')
    filtered_matches['away_goals'] = pd.to_numeric(score_split[1], errors='coerce')

    # --- Merge team_data with match scores ---
    filtered_team_data = team_data.merge(
        filtered_matches[['matchId', 'home_goals', 'away_goals']],
        on='matchId', how='inner'
    )

    # --- Infer home/away based on scores.fulltime ---
    filtered_team_data['home_away'] = filtered_team_data.apply(
        lambda row: 'home' if row['scores.fulltime'] == row['home_goals'] else 'away',
        axis=1
    )

    # --- Assign points ---
    def assign_points(row):
        if row['home_away'] == 'home':
            return 3 if row['home_goals'] > row['away_goals'] else 1 if row['home_goals'] == row['away_goals'] else 0
        else:
            return 3 if row['away_goals'] > row['home_goals'] else 1 if row['away_goals'] == row['home_goals'] else 0

    filtered_team_data['points'] = filtered_team_data.apply(assign_points, axis=1)

    # --- Aggregate team points and get top 5 teams ---
    team_points = filtered_team_data.groupby(['teamId', 'teamName'], as_index=False)['points'].sum()
    top5_teams = team_points.sort_values(by='points', ascending=False).head(5)

    # --- Merge player stats with player data ---
    players_full = pd.merge(
        player_stats,
        player_data[['playerId', 'matchId', 'position', 'age', 'shirtNo', 'height', 'weight']],
        on=['playerId', 'matchId'],
        how='left'
    )

    # --- Add match date ---
    players_full = pd.merge(
        players_full,
        filtered_matches[['matchId', 'startDate']],
        on='matchId', how='inner'
    )

    # --- Clean ratings ---
    players_full['ratings_clean'] = (
        players_full['ratings']
        .str.replace(',', '.', regex=False)
        .astype(float)
    )

    # --- Filter AML players from top 5 teams ---
    aml_top5 = players_full[
        (players_full['position'] == 'AML') &
        (players_full['teamId'].isin(top5_teams['teamId']))
    ]

    # --- Aggregate ratings per player ---
    aml_top5_summary = (
        aml_top5
        .groupby(['playerId', 'playerName', 'teamName'], as_index=False)
        .agg(
            average_rating=('ratings_clean', 'mean'),
            total_rating=('ratings_clean', 'sum'),
            matches_played=('matchId', 'nunique')
        )
    )

    # --- Filter by minimum matches and return top 5 by avg rating ---
    aml_top5_summary = aml_top5_summary[aml_top5_summary['matches_played'] >= min_matches]
    aml_top5_summary = aml_top5_summary.sort_values(by='total_rating', ascending=False).head(5)

    return aml_top5_summary

In [53]:
top_aml = get_top5_aml_players(
    start_date="2024-08-01",
    end_date="2025-04-01",
    match_data=match_data,
    team_data=team_data,
    player_stats=player_stats,
    player_data=player_data
)

top_aml

/var/folders/18/_sj9qx0n3nqgyby1044ngpym0000gn/T/ipykernel_8639/1151031373.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_matches['home_goals'] = pd.to_numeric(score_split[0], errors='coerce')
/var/folders/18/_sj9qx0n3nqgyby1044ngpym0000gn/T/ipykernel_8639/1151031373.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_matches['away_goals'] = pd.to_numeric(score_split[1], errors='coerce')

,playerId,playerName,teamName,average_rating,total_rating,matches_played
5,345022,Manor Solomon,Leeds,6.598603,527.888275,20
0,332143,Gustavo Hamer,Sheff Utd,6.553147,471.826606,18
13,400610,Jaidon Anthony,Burnley,6.457899,284.147545,11
17,439636,Wilfried Gnonto,Leeds,6.487035,233.533271,9
4,342899,Ephron Mason-Clark,Coventry,6.644205,186.037741,7

In [51]:
print(top_aml.shape)

(5, 6)